<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userCleanFolderSettings" type="System.Configuration.UserCleanFolderSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CleanFolder.Properties.CleanFolderSettings" type="System.Configuration.ClientCleanFolderSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CleanFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userCleanFolderSettings>
        <CleanFolder.Properties.CleanFolderSettings>
            <setting name="XmlStorageLocation" serializeAs="String">
                <value>D:\Documents\My SourceCode\Projects\CleanFolder\CleanFolderTest\xmlStorage</value>
            </setting>
            <setting name="CleanTaskInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </CleanFolder.Properties.CleanFolderSettings>
    </userCleanFolderSettings>
    <userSettings>
        <CleanFolder.Properties.Settings>
            <setting name="XmlDirectory" serializeAs="String">
                <value>D:\Documents\My SourceCode\Projects\CleanFolder\CleanFolderTest\xmlStorage</value>
            </setting>
            <setting name="CleaningInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </CleanFolder.Properties.Settings>
    </userSettings>
</configuration>
